{% extends 'base.html' %}
{% load static %}

{% block extra_title %} | FAQ {% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="overlay"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font mt-5 text-black">Cupon</h2>
            <hr class="w-50 mb-2">

        </div>
    </div>

</div>
<div class="container">
    <div class="row">
        <div class="col my-4">
            {% for cupon in cupons %}
            <div class="accordion" id="cupon-{{cupon.id}}">
                <div class="card">
                    <div class="card-header p-0" id="headingOne-{{cupon.id}}">
                        <h2 class="mb-0">

            </div>
            {% endfor %}
        </div>
    </div>
</div>



{% endblock %}