{% extends 'base.html' %}
{% load static %}

{% block extra_title %} | Add FAQ{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <hr>
            <h2 class="logo-font mb-4 mt-5">FAQ's Managment</h2>
            <h5 class="text-muted">Add Question & Answer</h5>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <form action="{% url 'create_coupon' %}" method="POST" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy}}
                <div class="text-right">
                    <a href="{% url 'create_coupon' %}" class="btn logo-font btn-style rounded">Cancel</a>
                    <button class="btn logo-font btn-style rounded" type="submit">Add Coupon</button>

                </div>
            </form>

        </div>
        <div class="col-12 col-md-6">
            <div class="faq-table table-responsive mb-5">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr class="border-bottom">
                            <th>Coupon</th>
                            <th>Status</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for coupon in coupon %}
                        <tr class="border-top">
                            <td>
                                <p>{{ coupon.code }}</p>
                            </td>
                            <td>
                                {% if coupon.active == 0 %}
                                <p>Inactive</p>
                                {% else %}
                                <p>Active</p>
                                {% endif %}
                            </td>
                            <td>
                                <div class="logo-font">

                                    <button class="btn logo-font text-danger p-0 d-inline btn-sm" data-toggle="modal"
                                        data-target="#deleteModal{{ coupon.id}}">Delete</button>
                                    <!-- Modal -->

                                </div>

                                {% include 'checkout/includes/delete_coupon_modal.html' %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 text-right mt-2 mb-5">
            <a href="{% url 'admin_profile' %}" class="btn logo-font btn-style rounded">Back to Admin Panel</a>
        </div>
    </div>
</div>

{% endblock %}