{% extends 'base.html' %}
{% load static %}

{% block extra_title %} | Create Coupon{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <hr>
            <h2 class="logo-font mb-4 mt-5 text-black">Coupon Management</h2>
            <h5 class="text-muted">Create Coupons</h5>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <form action="{% url 'create_coupon' %}" method="POST" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy}}
                <div class="text-right">
                    <a href="{% url 'create_coupon' %}" class="btn btn-lg btn-secondary px-5 mb-3 rounded-pill text-black">Cancel</a>
                    <button class="btn btn-lg btn-secondary px-5 mb-3 rounded-pill text-black" type="submit">Add Coupon</button>

                </div>
            </form>

        </div>
        <div class="col-12 col-md-6">
            <div class="faq-table table-responsive mb-5">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr class="border-bottom text-black">
                            <th>Coupon</th>
                            <th>Status</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for coupon in coupon %}
                        <tr class="border-top">
                            <td>
                                <p>{{ coupon.code }}</p>
                            </td>
                            <td>
                                {% if coupon.active == 0 %}
                                <p>Inactive</p>
                                {% else %}
                                <p>Active</p>
                                {% endif %}
                            </td>
                            <td>
                                <div class="logo-font">
                                    <a href="{% url 'edit_coupon' coupon.id %}" class="text-success text-uppercase">Edit</a> | 

                                    <button class="btn-sm p-1 logo-font text-danger text-uppercase" data-toggle="modal"
                                        data-target="#deleteModal{{ coupon.id}}">Delete</button>
                                    <!-- Modal -->

                                </div>

                                {% include 'checkout/includes/delete_coupon_modal.html' %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 text-right mt-2 mb-5">
            <a href="{% url 'admin_profile' %}" class="btn btn-lg btn-light px-5 mb-3 rounded-pill text-black">Back to Admin Panel</a>
        </div>
    </div>
</div>

{% endblock %}