<div class="modal fade" id="AboutModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="AboutModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content text-left">
            <div class="modal-header logo-font text-center">
                <h3 class="modal-title text-uppercase w-100">Party Stars</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>

            </div>
            <div class="modal-body">
                <h1 class="text-center text-black" >About Us</h1>

                <h2>Our Mission</h2>

                <p>We sell balloons. Except, we don’t just sell balloons. We sell good times. We sell memories. We sell warm fuzzy feelings that stay with you forever.</p>
                
                <p>It’s not just a balloon: it’s celebrating your nan’s 100th birthday or a summer BBQ with friends. 
                    It’s the baby shower for the couple who thought they couldn’t conceive and the wedding party for childhood sweethearts.
                    It’s even the Superman costume that made a little boy feel like he could do anything.</p>
                
                <p>We take happiness seriously here. 
                    We are with you for every step and celebration, big or small, throughout your journey. 
                    The uniqueness of a good party is what keeps us living our values of caring passionately, working collaboratively, 
                    thinking innovatively, and most importantly, keeping it fun!</p>
                
                <div>
                    <img src="{{ MEDIA_URL }}about-us3.jpg" alt="" class="img-fluid about-img">
                </div>
                
                <h2>Our Eco Journey<i class="fa-solid fa-leaf"></i></h2>
                
                <p>Here at Party Stars, we’re ramping up our efforts to not only become more eco-friendly but to also make our company more sustainable for the long term. 
                    We’re changing the way we do things, including how we pack our products, the materials we use in our products and how our products and packaging 
                    can be reused or recycled! To make sure we’re getting it right, we’ve partnered with sustainability organisations like 
                    Climate Partner to help us as we continue on this journey.</p>

                    <div>
                        <img src="{{ MEDIA_URL }}about-us2.jpg" alt="" class="img-fluid about-img">
                    </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-lg btn-secondary px-5 mb-3 rounded-pill text-black w-100" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
</div>