{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description"
            content="PartyStars is an online party store, we sell ballons and party decorations for all kind of events. | Free Shipping on orders over €20!">
        <meta name="keywords"
            content="party online store, buy ballons online, party & events, kids party, weedings decorations, haloween decorations, baby ballons, milestones party decorations, birthday party balons and decorations, cheap party decorations ireland, Ireland party and ballon online store">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <!-- favicon -->
        <link type="image/png" sizes="16x16" rel="icon" href="{{ MEDIA_URL }}favicon-removebg.png">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/eef9519c5a.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
        <!-- Mailchimp -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
 
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Party Stars {% block extra_title %}{% endblock %}</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <!-- Navbar -->
    <header class="container-fluid p-0 fixed-top">
        <div id="delivery-banner" class="row text-center">
            <div class="col bg-black text-white">
                <h4 class="logo-font my-1">Free delivery on orders over €{{ free_delivery_threshold }}!</h4>                
            </div>            
        </div>
        <nav class="navbar navbar-expand-lg d-none d-lg-flex bg-white navbar-light text-black">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <img src="{{ MEDIA_URL }}logo4.png" alt="Brand-logo" class="img-fluid d-none d-md-block">
                </a>

                <div class="nav-bar-links mx-3 text-black">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'products' %}">Products</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-expanded="false">
                                Categories
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% for category in categories %}
                                <a class="dropdown-item"
                                    href="{% url 'products' %}?category={{ category.name }}">{{ category.friendly_name }}</a>
                                {% endfor %}
    
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="SpecialOffers" role="button"
                                data-toggle="dropdown" aria-expanded="false">
                                Special Offers
                            </a>
                            <div class="dropdown-menu" aria-labelledby="SpecialOffers">
                                <a class="dropdown-item" href=" {% url 'products' %}?new=true">New arrivals</a>
                                <a class="dropdown-item" href="{% url 'products' %}?on_sale=true">Sale</a>
                            </div>
                        </li>
    
                    </ul>

                    <div class="list-inline-item ">
                        <a class="nav-link d-block pt-4" href="#" id="search-icon" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" aria-label="Search">
                            <div class="text-center">
                                <div><i class="fas fa-search fa-lg"></i></div>
                            </div>
                        </a>
                        <div class="dropdown-menu w-100 p-3 search-icon bg-nav my-0" aria-labelledby="search-icon">
                            <form class="form" method="GET" action="{% url 'products' %}">
                                <div class="input-group w-100 input-left">
                                    <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search..."
                                        aria-label="Search">
                                    <div class="input-group-append">
                                        <button class="input-btn form-control form-control btn btn-trans" type="submit"
                                            aria-label="Search">
                                            <span class="icon">
                                                <i class="fas fa-search"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
    
    
                    <div class="list-inline-item  dropdown">
                        <a class="nav-link d-block pt-4" href="#" data-toggle="dropdown">
                            <div class="text-center">
                                <div><i class="fa-solid fa-user fa-lg"></i></div>
                            </div>
                        </a>
                        <div class="account-dropdown dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                <a href="{% url 'admin_profile' %}" class="dropdown-item">Admin</a>
                                {% endif %}
                                <a href="{% url 'account_overview' %}" class="dropdown-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </div>

                    {% if request.user.is_authenticated %}
                    <div class="list-inline-item">
                        <a class="nav-link d-block pt-4" href="{% url 'wishlist' %}">
                            <div class="text-center">
                                <div><i class="fas fa-heart fa-lg nav-icon"></i></div>
                            </div>
                        </a>
                    </div>
                    {% endif %}


                    
                    <div class="list-inline-item">
                        <a class="nav-link d-block pt-4 {% if grand_total %} font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                        €{{ grand_total|floatformat:2 }}
                                    {% else %}
                                        €0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </div>
                
            
        </div>
    </nav>
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>

    </header>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <footer class="w-100 mt-auto text-center pb-4">
        <div class="container-fluid">
            <div class="row">
                <div class=" col-sm-12 col-md-4">
                    <!-- Help Section -->
                    <div class="footer-header mt-4">
                        <h6 class="text-uppercase mb-4"><strong>Help</strong></h6>
                    </div>
                    <div><a href="#" class="footer-link">Home</a>
                    </div>
                    <div><a href="{% url 'faq_page' %}" class="footer-link">FAQ's</a>
                    </div>
                    <div><a href="#" class="footer-link" data-toggle="modal" data-target="#ShippingModal">Shipping
                            Info</a>
                    </div>
                    <div><a href="#" class="footer-link" data-toggle="modal" data-target="#PolicyModal">Privacy
                        Policy</a>


                </div>


                </div>

                <div class="col-sm-12 col-md-4">
                    <!-- Mailchimp Subscribe -->
                    <div class="footer-header mt-4">
                        <h6 class="text-uppercase mb-4"><strong>Subscribe</strong></h6>
                    </div>
                        <p class="text-center mb-4">Subscribe to the Party Stars mailing list to get exclusive offers straight
                            to
                            your inbox!</p>
                    <div id="mc_embed_signup">
                        <form action="https://gmail.us17.list-manage.com/subscribe/post?u=6990f4940d09dfe0ae20398bb&amp;id=80188a647c&amp;f_id=006954e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                            <div id="mc_embed_signup_scroll">
                                <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                                <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""></div>
                            <div id="mce-responses" class="clear foot">
                                <div class="response" id="mce-error-response" style="display: none;"></div>
                                <div class="response" id="mce-success-response" style="display: none;"></div>
                            </div>
                        <div aria-hidden="true" style="position: absolute; left: -5000px;">
                            /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                            <input type="text" name="b_6990f4940d09dfe0ae20398bb_80188a647c" tabindex="-1" value="">
                        </div>
                            <div class="optionalParent">
                                <div class="clear foot">
                                    <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                                    <p style="margin: 0px auto;"><a href="http://eepurl.com/iAHfPw" title="Mailchimp - email marketing made easy and fun"><span style="display: inline-block; background-color: black; border-radius: 4px;"><img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-light.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a></p>
                                </div>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="footer-header mt-4">
                        <!-- Contact Us Section -->
                        <h6 class="text-uppercase"><strong>Contact</strong></h6>
                    </div>
                    <div>
                        <a href="{% url 'contact' %}" class="footer-link">Contact Us</a>
                    </div>
                    <div>
                        <a href="#" class="footer-link" data-toggle="modal" data-target="#AboutModal">About Us</a>
                    </div>
                    <h3 class="">Follow Us:</h3>
                    <a href="https://www.instagram.com/" target="_blank" rel="noopener" class="footer-link">
                        <i class="fa-brands fa-instagram footer-links fa-lg"></i>
                    </a>
                    <a href="https://www.facebook.com/profile.php?id=61551873579824" target="_blank" rel="noopener"
                        class="footer-link">
                        <i class="fa-brands fa-facebook-f fa-lg"></i>
                    </a>


                </div>

            </div>
            <div>
                <!-- Copyright -->
                <div class="copyright text-center">
                    <i class="fa-regular fa-copyright text-black"></i>
                    <p class="d-inline text-black text-center">PartyStars, 2023</p>
                </div>
            </div>
        </div>
        {% include 'includes/shipping_info.html' %}
        {% include 'includes/privacy_policy_modal.html' %}
        {% include 'includes/about.html' %}
    </footer>

    {% block postloadjs %}
    <script>
        $('.toast').toast('show');
    </script>
    <!-- MailChimp scripts -->
    <script  src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
    <script>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                  
    {% endblock %}

    
  </body>
</html>